ion-card{
    background: white;
}

ion-col{
    text-align: center;
}

ion-row{
    margin-bottom: 2%;
}

.text-black{
    color: black;
}

#career{
    background: #ee7f00;
    color: white;
    font-size:18px;
}