<ion-header >
  <ion-toolbar  color="primary">
    <ion-title>Inline Modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-note class="paddin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi in iure sint, voluptatum harum numquam laborum ab libero tempora, natus repudiandae ad dignissimos fugiat magnam, modi totam atque corrupti. Rem.</ion-note>
  <div class="row">
      <div class="col">
        <p>Carnet Digital</p>
      </div>
      <div class="col">
        <p>Carnet Digital</p>
        Asistencia
      </div>
      <div class="col">
        <p>Carnet Digital</p>
        Biblioteca
      </div>
  </div>    
  <div class="row">
    <div class="col">
      <p>Carnet Digital</p>
      Paqueadero
    </div>
    <div class="col">
      <p>Carnet Digital</p>
      Consultas
    </div>

</div>   
</ion-content>
