<ion-header>
  <ion-toolbar>
    <ion-title>Inline Modal</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-row class="ion-justify-content-center">      
      <ion-col size="8">
        <ion-img src="../../assets/img/uninpahu-logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-text-center">
          Lorem ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem ipsum ha sido el textcode relleno estandar de las industrias desde el año 1500
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="4">
          <button class="ion-text-center ion-padding-vertical">
            <ion-icon name="id-card"></ion-icon>
            <ion-text>Carnet digital</ion-text>
          </button>
        </ion-col>
        <ion-col size="4">
          <button class="ion-text-center ion-padding-vertical">
            <ion-icon name="help-circle"></ion-icon>
            <ion-text>Asistencia</ion-text>
          </button>
        </ion-col>
        <ion-col size="4">
          <button type="button" class="ion-text-center ion-padding-vertical">
            <ion-icon name="library"></ion-icon>
            <ion-text>Biblioteca</ion-text>
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-evenly">
        <ion-col size="4">
          <button class="ion-text-center ion-padding-vertical">
            <ion-icon name="bicycle"></ion-icon>
            <ion-text>Parqueadero</ion-text>
          </button>
        </ion-col>
        <ion-col size="4">
          <button class="ion-text-center ion-padding-vertical">
            <ion-icon name="help-circle"></ion-icon>
            <ion-text>Consultas</ion-text>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>